<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="margin: 1%;">Restaurant Order App</span>
  <div class="spacer"></div>
  <a aria-label="Technical Test" target="_blank" rel="noopener" href="#" title="GFT">
  </a>
</div>

<app-order-form></app-order-form>
<app-order-grid></app-order-grid>

<footer>
  <div class="container">
    <p>
      Note:<br/>
      1. You can enter the time of day as “morning” or “night”;<br/>
      2. You should enter a comma delimited list of dish types with at least one selection<br/>
      3. There is no dessert for morning meals<br/>
      4. In the morning, you can order multiple cups of coffee<br/>
      5. At night, you can have multiple orders of potatoes<br/>
    </p>
  </div>  
</footer>

<router-outlet></router-outlet>